@import "../scss/variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./settings";

* {
    box-sizing: border-box;
}

.fab {
    @include social-icons
}

.form-check {
    width: 180px;
    margin-top: 8px;
    .form-check-input {
        margin-left: -30px;
    }
    .form-check-label {
        margin-left: 8px;
        font-size: 0.9rem;
        font-weight: bold;
    }
}

.carousel-caption {
    background-color: rgba($color: #FFFFFF, $alpha: 0.4);
}

.card {
    @include xs {
        width: 18rem;
    }
    @include sm {
        width: 18rem;
    }
    @include md {
        width: 13rem;
    }
    @include lg {
        width: 16rem;
    }
    @include xl {
        width: 18rem;
    }
}

.dark-mode-bgred {
    background-color: red !important;
}

.dark-mode-colblack {
    color: black !important;
}

.dark-mode {
    background-color: $darktheme;
}


