@import "../scss/variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

* {
    box-sizing: border-box;
}

.fab {
    font-size: 1.3rem;
    color: blue;
}

#carousel-container {
    @include md {
        
    }
    
}

.carousel-caption {
    background-color: rgba($color: #FFFFFF, $alpha: 0.4);
}

.card {
    @include xs {
        width: 18rem;
    }
    @include sm {
        width: 18rem;
    }
    @include md {
        width: 13rem;
    }
    @include lg {
        width: 16rem;
    }
    @include xl {
        width: 18rem;
    }
}
