@import "../scss/variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./settings";

* {
    box-sizing: border-box;
}

.fab {
    @include social-icons
}

.carousel-caption {
    background-color: rgba($color: #FFFFFF, $alpha: 0.4);
}

.card {
    @include xs {
        width: 18rem;
    }
    @include sm {
        width: 18rem;
    }
    @include md {
        width: 13rem;
    }
    @include lg {
        width: 16rem;
    }
    @include xl {
        width: 18rem;
    }
}
